<div class="card w-100 shadow-sm rounded-4">
  <div class="card-body">
    <app-user-card [userName]="'test'" [userId]="2" [page]="'community'"></app-user-card>
    <h6 class="card-subtitle my-2 text-muted">2 hours ago</h6>
    <app-truncate-text [expand]="expand"
      [text]="'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis quidem ipsa ut, veniam assumenda dolorum atque facere, quas officia corrupti nisi dolorem natus laboriosam optio officiis consequatur, autem magnam!'">
    </app-truncate-text>
    <a role="button" class="collapsed" (click)="toggleCollapse()">show</a>
  </div>
</div>
