<div class="card w-100 shadow-sm rounded-5">
  <div class="card-body">
    <h5 class="card-title">Username</h5>
    <h6 class="card-subtitle mb-2 text-muted">2 hours ago</h6>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quidem eaque quam, odit ipsa
      reiciendis, neque
      quaerat aspernatur nisi numquam dicta, laudantium optio porro at repudiandae dolores. Explicabo, eum dolorem.
    </p>
    <a href="#" class="card-link">Like</a>
  </div>
</div>
