<div class="mt-4 mx-3">
  <a (click)="previousePage()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512 " width="30" height="30">
      <path fill="#009BD3"
        d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
    </svg></a>
</div>
<section class="container-fluid py-2">
  <div class="">
    <div class="mt-4 px-3">
      <h2 class="text-center">Title</h2>
      <p class="text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem obcaecati ullam ab
        maxime
        quos
        explicabo
        dolores
        nobis optio aspernatur, minus, distinctio corrupti quaerat molestiae praesentium pariatur dicta debitis, animi
        totam.
        Quis debitis obcaecati quae vitae ducimus fugiat fugit? Totam in facere, inventore sapiente repellendus culpa
        enim
        amet itaque omnis! Numquam eos quibusdam ad officia animi dolorem accusantium perspiciatis inventore rerum.
      </p>
      <app-category-card></app-category-card>
    </div>
  </div>

  <div class="mt-2 flex-column col gap-4 d-flex px-2">
    <app-comments-card></app-comments-card>
    <app-comments-card></app-comments-card>
    <app-comments-card></app-comments-card>
    <app-comments-card></app-comments-card>
  </div>

</section>
