<app-app-container>
  <section class="py-5 text-center container">
    <h1 class="mt-5 mb-3">Community</h1>
    <div class="d-flex justify-content-evenly overflow-scroll gap-2">
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>
    </div>
    <app-post-preview></app-post-preview>
    <app-post-preview></app-post-preview>
    <app-post-preview></app-post-preview>
  </section>
</app-app-container>
