<div class="w-100 pt-4 px-2 fixed-top bg-white d-flex">
</div>
<body class="text-center">

<main class="form-signin">
  <form #frm="ngForm"
        (ngSubmit)="onSubmit(frm)">
    <img class="mb-4" src="./assets/logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <span *ngIf="frm.submitted" class="text-danger">{{errorMessage}}</span>
    <div class="form-floating">
      <input type="text" class="form-control" [(ngModel)]="user.user" name="user" required>
      <span *ngIf="frm.submitted && frm.controls['user'].errors" class="text-danger">Username is required.</span>
      <label>Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" [(ngModel)]="user.pass" name="pass" required>
      <span *ngIf="frm.submitted && frm.controls['user'].errors" class="text-danger">Password is required.</span>
      <label>Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <a type="checkbox" routerLink="/register">Are you registered?</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy;LatinApp 2022</p>
  </form>
</main>


</body>
