<body class="text-center">

<main class="form-register">
  <form #frm="ngForm"
        (ngSubmit)="onSubmit(frm)">
    <img class="mb-4" src="./assets/logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Sing up</h1>

    <span *ngIf="frm.submitted" class="text-danger">{{errorMessage}}</span>

    <div class="form-floating">
      <input type="text" class="form-control" required [(ngModel)]="user.name" name="name">
      <span *ngIf="frm.submitted && frm.controls['name'].errors" class="text-danger">The name is required</span>
      <label>Full name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" required [(ngModel)]="user.user" name="user">
      <span *ngIf="frm.submitted && frm.controls['user'].errors" class="text-danger">The username is required</span>
      <label>Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" required [(ngModel)]="user.pass" name="pass">
      <span *ngIf="frm.submitted && frm.controls['pass'].errors" class="text-danger">The password is required</span>
      <label>Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>


</body>
