<div class="card mt-3">
  <div class="card-body pb-0">
    <h2 class="card-title">Title</h2>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, reprehenderit totam.
      Distinctio laudantium dignissimos recusandae delectus suscipit at sint! Odit, qui ab error dolorum fugiat modi?
      Architecto est dolor eveniet!</p>
    <div class="card-footer row align-items-center">
      <p class="col">Username</p>
      <p class="col">Time</p>
    </div>
  </div>
</div>
