<a routerLink="/post" class="card mt-3">
  <div class="card-body pb-0">
    <h2 class="card-title">Title</h2>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, reprehenderit totam.
      Distinctio laudantium dignissimos recusandae delectus suscipit at sint! Odit, qui ab error dolorum fugiat modi?
      Architecto est dolor eveniet!</p>
    <div class="d-flex flex-row gap-2 align-items-center">
      <p class="badge bg-primary col">Username</p>
      <p class="badge bg-primary col">Time</p>
      <p class="badge bg-primary col">Category</p>
    </div>
  </div>
</a>
